<div class="sobre-container">
    <div class="info-esquerda">
      <p><strong>Turma:</strong> {{ turma }}</p>
      <p><strong>Turno:</strong> {{ turno }}</p>
      <p><strong>Unidade:</strong> {{ unidade }}</p>
    </div>
    <div class="foto-circulo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Co-NbyGhaMaT3U14NkTqJaU_Na_Xnvnb-Q&s" alt="Foto de perfil">
    </div>
    <div class="info-direita">
      <p><strong>Nome:</strong> {{ nome }}</p>
      <p><strong>Idade:</strong> {{ idade }}</p>
    </div>
  </div>
  